.statusbar_container{

    width:615px;
    border: 1px solid rebeccapurple;
    background-color: white;
    margin-top: 25px;
    border-radius: 20px;
    display: flex;
    overflow-x: scroll;
    margin-bottom: 0px;
}
.statusbar_container::-webkit-scrollbar{
    display: none;
}

.statusbar_status{
    min-height: 55px;
    min-width: 55px ;
    border:5px solid rebeccapurple;
}
.status{
    margin: 25px 15px;
   
}
.statusbar_text{
    font-size: 12px;
    max-width: 50px;
    overflow-x: hidden;
    text-align: center;

}
.statusbar_upload{
    margin: 30px 20px 30px 30px;
}
